html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main Code */
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	cursor: url('../../assets/cursors/default.svg'), default;
}

body {
	background-color: rgba(243, 239, 345, 1); /* rgba memungkinkan untuk mengubah transparansi */
	max-width: 100vw;
	width: 100vw; /* Agar responsif */
	overflow-x: hidden;
}

/* Cursor Section */
h1, h2, h3, h4, h5, h6, p{
	cursor: url(../../assets/cursors/text.svg), text;
}

a, button {
	cursor: url('../../assets/cursors/pointer.svg'), pointer;
}

/* Header / Navigation Bar Start Section */
header {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
	position: fixed;
	margin-bottom: 6.4375rem;
	background-color: rgba(243, 239, 245, 1);
	z-index: 999;
}

header .brand {
	margin-left: 4.0625rem;
}

header .right-nav {
	display: flex;
	justify-content: space-between;
	margin: 1.5625rem 3.4375rem 1.5625rem 0;
	gap: 1.5625rem;
	align-items: center;
}

header .right-nav a {
	font-weight: 500;
	font-size: 1.25rem;
	color: rgba(13, 10, 11, 1);
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	transition: all .3s;
}

header .right-nav a:hover  {
	color: rgba(169, 222, 249, 1);
	transform: translateY(-3px);
}

header .right-nav a:nth-child(4) {
	padding: 0.625rem 1.25rem;
	border-radius: 13px;
	border: 1px solid rgba(13, 10, 11, 1);
}

header .right-nav a:nth-child(4):hover {
	border: 0px;
	background-color: rgba(13, 10, 11, 1);
	color: rgba(243, 239, 245, 1);
	box-shadow: 0px 6px 0px rgba(13, 10, 11, .45);
	transform: translateY(0px);
}

header .right-nav a:nth-child(4):active {
	box-shadow: 0px 3px 0px rgba(13, 10, 11, .45);
	transform: translateY(3px);
}

header .right-nav a:nth-child(5) {
	color: rgba(243, 239, 245, 1);
	padding: 0.625rem 1.25rem;
	border-radius: 13px;
	background-color: rgba(13, 10, 11, 1);
}

header .right-nav a:nth-child(5):hover {
	box-shadow: 0px 6px 0px rgba(13, 10, 11, .45);
	transform: translateY(0px);
}

header .right-nav a:nth-child(5):active {
	box-shadow: 0px 3px 0px rgba(13, 10, 11, .45);
	transform: translateY(3px);
}
/* Header / Navigation Bar End Section */


/* Beginning of Hero Section */
.hero-section {
	display: flex;
	flex-direction: row;
	margin-top: 12rem;
	margin-bottom: 6.25rem;
}

.hero-section .left-side {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;

	margin-left: 4.125rem;
}

.hero-section .left-side .welcome-message {
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 110%;
	color: rgba(13, 10, 11, 1);

	width: 60%;
}

.hero-section .left-side p {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 130%;
	width: 65%;
}

.hero-section .left-side .signup-start {
	font-family: "Poppins", sans-serif;
	color: rgba(243, 239, 245, 1);
	font-weight: 500;
	font-size: 1.125rem;
	padding: .625rem 1.25rem;
	border-radius: 10px;
	background: rgba(13, 10, 11, 1);
	width: 33%;
	transition: all .3s;
	
}

.hero-section .left-side .signup-start svg {
	transform: rotate(45deg);
	margin-right: .625rem;
}

.hero-section .left-side .signup-start:hover {
	box-shadow: 0px 6px 0px rgba(13, 10, 11, .45);
	transform: translateY(0px);
	svg {
		transition: all .3s ease-in-out;
		transform: translateY(-3px) translateX(2px) rotate(45deg);
	};
}

.hero-section .left-side .signup-start:active {
	box-shadow: 0px 3px 0px rgba(13, 10, 11, .45);
	transform: translateY(3px);
}

.hero-section .right-side {
	margin-right: 10.625rem;
}
/* End of Hero Section */

/* Start of Offering Section */
.offer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.offer-section .offer-header {
	color: rgba(13, 10, 11, 1);
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin-bottom: 3.125rem;
}

.offer-section .offer-header h1 {
	font-weight: 700;
	font-size: 1.4rem;
	margin: .875rem 0;
}

.offer-section .offer-header h2 {
	font-size: 1.125rem;
	font-weight: 500;
}

.offer-section .offer-cards {
	display: flex;
	flex-direction: row;
	gap: 2.9375rem;
	margin: 0 3.4375rem 2rem 3.4375rem;
}

.offer-section .offer-cards .offer-card {
	font-family: "Poppins", sans-serif;

	border: 1px solid rgba(13, 10, 11, 1);
	padding: 2.1875rem 1.4375rem;
	background-color: #fff;
	transition: all .3s;
}

.offer-section .offer-cards .offer-card h1 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 105%;
	margin-bottom: .9375rem;
}

.offer-section .offer-cards .offer-card p {
	font-size: 1rem;
	font-weight: 500;
	line-height: 115%;
	margin-bottom: 1rem;
}

.offer-section .offer-cards .offer-card:hover {
	transform: translateY(2px);
	box-shadow: -10px 10px 4px rgba(13, 10, 11, .5);
}
/* End of Offering Section */

/* Beginning of Course Section */
.course-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8.438rem;
}

.course-section .heading {
	color: rgba(13, 10, 11, 1);
	font-family: "Poppins", sans-serif;
	margin: 3.125rem 3.5rem;

	display: flex;
	gap: 1.875rem;
}

.course-section .heading h1 {
	font-weight: 700;
	font-size: 1.4rem;
	display: inline-block;
	background-color: rgba(169, 222, 249, 1);
	padding-bottom: 1rem;
	max-width: 160px;
	width: 100%;
}
.course-section .course-cards {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
	"item-1 item-2"
	"item-3 item-4"
	;
	margin: .5rem 2.813rem;
	gap: 3.75rem;
}

.course-section .course-cards .course-card {
	font-family: "Poppins", sans-serif;
	padding: 2.5rem 2.625rem;
	border: 1px solid rgba(13, 10, 11, 1);
	background-color: #fff;
	border-radius: 40px;
	max-width: 645px;
	max-height: 245px;
	width: 85%;
	transition: all .3s;
}

.course-section .course-cards .course-card:hover {
	transform: translateY(-10px);
	box-shadow: -5px 5px 0px rgba(13, 10, 11, .45);
}

.course-section .course-cards .course-card h1 {
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 105%;
	margin-bottom: .9375rem;
	display: inline-block;
}

.course-section .course-cards .course-card p {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 115%;
	margin-bottom: 1rem;
	text-align: justify;
}

.course-section .course-cards .course-card:nth-child(1) {
	grid-area: item-1;
}

.course-section .course-cards .course-card:nth-child(1) h1 {
	background-color: rgba(169, 222, 249, 1);
}

.course-section .course-cards .course-card:nth-child(2) {
	grid-area: item-2;
	background-color: rgba(13, 10, 11, 1);
	color: rgba(243, 239, 245, 1);
}

.course-section .course-cards .course-card:nth-child(2) h1 {
	background-color: rgba(243, 239, 245, 1);
	color: rgba(13, 10, 11, 1);
}

.course-section .course-cards .course-card:nth-child(3) {
	grid-area: item-3;
	background-color: rgba(13, 10, 11, 1);
	color: rgba(243, 239, 245, 1);
}

.course-section .course-cards .course-card:nth-child(3) h1 {
	background-color: rgba(243, 239, 245, 1);
	color: rgba(13, 10, 11, 1);
}

.course-section .course-cards .course-card:nth-child(4) {
	grid-area: item-4;
}

.course-section .course-cards .course-card:nth-child(4) h1 {
	background-color: rgba(169, 222, 249, 1);
}
/* End of Course Section */

/* Start of Community Section */
.community-section {
	background-color: #fff;
	display: flex;
	gap: 4.25rem;
	margin: 5.5rem 4.375rem;
	padding: 3.625rem 6.25rem 4.688rem 2.688rem;
	border-radius: 40px;
	border: 1px solid rgba(13, 10, 11, 1);
	transition: all .3s;
}

.community-section:hover {
	transform: translateY(-10px);
	box-shadow: -8px 8px 0px rgba(13, 10, 11, .45);
}

.community-section .community-contents {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	color: rgba(13, 10, 11, 1);
	font-family: "Poppins", sans-serif;
}

.community-section .community-contents h1 {
	font-size: 2.125rem;
	font-weight: 700;
}

.community-section .community-contents p {
	font-size: 1.125rem;
	font-weight: 500;
}

.community-section .community-contents .community-button {
	font-family: "Poppins", sans-serif;
	color: rgba(243, 239, 245, 1);
	font-weight: 500;
	font-size: 1.125rem;
	padding: .625rem 1.25rem;
	border-radius: 10px;
	background: rgba(13, 10, 11, 1);
	width: 38%;
	transition: all .3s;
}

.community-section .community-contents .community-button svg {
	transform: rotate(45deg);
	margin-right: .625rem;
}

.community-section .community-contents .community-button:hover {
	box-shadow: 0px 6px 0px rgba(13, 10, 11, .45);
	transform: translateY(3px);
	svg {
		transition: all .3s ease-in-out;
		transform: translateY(-3px) translateX(2px) rotate(45deg);
	};
}

.community-section .community-contents .community-button:active {
	box-shadow: 0px 3px 0px rgba(13, 10, 11, .45);
	transform: translateY(3px);
}
/* End of Community Section */

/* Start of Register Card Section */
.register-card-section {
	display: flex;
	gap: 4.25rem;
	background-color: rgba(13, 10, 11, 1);
	padding: 1.688rem 3.125rem 1.688rem 3.875rem;
	margin: 5.5rem 4.375rem;
	border-radius: 40px;
	transition: all .3s;
}

.register-card-section:hover {
	transform: translateY(-10px);
	box-shadow: -8px 8px 0px rgba(13, 10, 11, .45);
}

.register-card-section .register-card-contents {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 3.625rem;
	color: rgba(243, 239, 245, 1);
	font-family: "Poppins", sans-serif;
}

.register-card-section .register-card-contents h1 {
	font-size: 2.125rem;
	font-weight: 700;
}

.register-card-section .register-card-contents p {
	font-size: 1.125rem;
	font-weight: 500;
}

.register-card-section .register-card-contents .register-button {
	font-family: "Poppins", sans-serif;
	background: rgba(13, 10, 11, 0);
	color: rgba(243, 239, 245, 1);
	font-weight: 500;
	font-size: 1.125rem;
	padding: .625rem 1.25rem;
	border-radius: 10px;
	border: 1px solid rgba(243, 239, 245, 1);
	width: 32%;
	transition: all .3s;
}

.register-card-section .register-card-contents .register-button svg {
	transform: rotate(45deg);
	margin-right: .625rem;
}

.register-card-section .register-card-contents .register-button:hover {
	background: rgba(243, 239, 245, 1);
	color: rgba(13, 10, 11, 1);
	box-shadow: 0px 6px 0px rgba(243, 239, 245, .45);
	transform: translateY(3px);
	svg {
		transition: all .3s ease-in-out;
		transform: translateY(-3px) translateX(2px) rotate(45deg);
	};
	svg path {
		fill: rgba(13, 10, 11, 1);
	};
}

.register-card-section .register-card-contents .register-button:active {
	box-shadow: 0px 3px 0px rgba(243, 239, 245, .45);
	transform: translateY(3px);
}
/* End of Register Card Section */

/* Start of Footer Section */
footer {
	display: flex;
	flex-direction: column;
	background-color: rgba(13, 10, 11, 1);
	gap: 5rem;
	padding: 4rem 5.313rem 1.875rem 5.313rem;
}

footer .footer-container {
	display: flex;
	flex-direction: row;
	gap: 10.313rem;
}

footer .footer-container .footer-informations {
	display: flex;
	flex-direction: column;
	gap: .938rem;
	font-family: "Poppins", sans-serif;
	color: rgba(243, 239, 245, 1);
}

footer .footer-container .footer-informations h3 {
	font-size: 1.125rem;
	font-weight: 700;
}

footer .footer-container .footer-informations h4 {
	font-size: 1.125rem;
	font-weight: 500;
}

footer .footer-container .footer-informations .email-address {
	font-size: 1.125rem;
	font-weight: 500;
}

footer .footer-container .footer-informations .email-address svg {
	transform: translateY(3px);
}

footer .footer-container .footer-informations .social-media-links {
	margin-top: 1rem;
}

footer .footer-container .footer-informations .social-media-links a {
	text-decoration: none;
	margin: .3rem;
}

footer .footer-container .footer-informations .social-media-links a svg {
	transition: all .3s;
}

footer .footer-container .footer-informations .social-media-links a svg:hover {
	transform: translateY(-5px);
}

footer .footer-container .footer-links {
	display: flex;
	flex-direction: row;
	gap: 6.875rem;
	font-family: "Poppins", sans-serif;
	margin-top: 2rem;
}

footer .footer-container .footer-links .Category, .resources {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

footer .footer-container .footer-links .Category h2, .resources h2 {
	color: rgba(243, 239, 245, 1);
	font-size: 1.125rem;
	font-weight: 800;
}

footer .footer-container .footer-links .Category a, .resources a {
	text-decoration: none;
	color: rgba(243, 239, 245, 1);
	font-size: 1.125rem;
	font-weight: 500;
}

footer .footer-copyright {
	text-align: center;
	font-family: "Poppins", sans-serif;
	color: rgba(243, 239, 245, 1);
	font-size: 1.125rem;
	font-weight: 500;
}

/* End of Footer Section */